<head>
    <meta charset="utf-8">
    <title>Navigation Bar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav>
        <label class="logo">YourFinance</label>
        <ul>
            <li>
                <a routerLink="/home" href="#">Home</a>
            </li>
            <li>
                <a routerLink="/dashboard" href="#">Dashboard</a>
            </li>
            <li>
                <a routerLink="/graph" href="#">Data</a>
            </li>
            <li>
                <a routerLink="/login" href="#">Login</a>
            </li>
        </ul>
    </nav>
</body>