<head>
    <meta charset="utf-8">
    <title>Navigation Bar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav>
        <label class="logo">YourFinance</label>
        <ul>
            <li>
                <a routerLink="'/dashboard'" class="active" href="#">Dashboard</a>
            </li>
            <li>
                <a routerLink="'/account'" href="#">Account</a>
            </li>
            <li>
                <a routerLink="'/home'" href="#">Home</a>
            </li>
            <li>
                <a routerLink="'/purchaes'" href="#">Purchases</a>
            </li>
            <li>
                <a routerLink="'/graph'" href="#">Data</a>
            </li>
        </ul>
    </nav>
</body>