h2 {
    text-align: center;

  }

div {
  text-align: center;
  margin: auto;
}
table {
    text-align: center;
    margin: auto;
    background: #c40233;
    border-radius: 15px;
    padding: 5px 5px;

  }

  .data {
    background: white;
    border-radius: 15px;
  }