<h2>Transaction History [{{ accountID }}]</h2>

<div>
  <table>
    <thead>
      <tr>
        <th>Transaction ID</th>
        <th>Transaction Amount</th>
        <th>Transaction Date</th>
        <th>transaction type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of purchases" class="data">
        <td>{{ transaction.transaction_id }}</td>
        <td>${{ transaction.transaction_amount }}</td>
        <td>{{ transaction.transaction_media }}</td>
        <td>{{ transaction.transaction_date }}</td>
      </tr>
    </tbody>
  </table>
</div>