<body class="content">
    <div class="container">
        <div class="wrapper">
        <h2>
            Whats the point?
        </h2>
        <div class="box">
            Have you ever gone out to buy a new pair or shoes or tv just to get your card declined?
            Well we have a solution for you,
            track your finances here and we will do all the heavy lifting for you
            using our state of the art technology
        </div>
        </div>

        <div class="wrapper">
        <h2>
            What technology?
        </h2>
        <div class="box">
            After creating a account through us we will track your transactions and seperate them
            into different catagories which we will use to graph out your spending habbits
            from there we can include all sorts of statistical information that will help you determine
            how you can start saving now. 
        </div>
    </div>
    </div>
    <div class="extra">
            <img src="assets/marketing.jpg" alt="Marketing Photo" style="width: 50%;height:100%">
            <div class="register-link">
                <p>
                    Still interested? 
                    <a routerLink="/signup" href="#"> Just click me to sign up right away.
                    </a>
                </p>
                
            </div>
    </div>

</body>